doctype html 
html 
    head 
        title Knowledgebase 
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body 
        .container
            nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded
                a.navbar-brand(href='/') KnowledgeBase                
                ul.navbar-nav.mr-auto
                    li.nav-item
                    a.nav-link(href='/')
                        | Home 
                    if user
                        li.nav-item
                        a.nav-link(href='/articles/add') Add Article      
                    if user 
                        li.nav-item
                        a.nav-link(href='/users/logout') Logout 
                    else           
                        li.nav-item
                        a.nav-link(href='/users/register') Register
                        li.nav-item
                        a.nav-link(href='/users/login') Login                    
        .container
            != messages('message', locals)
            if errors 
                each error, i in errors 
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer 
                p Copyright &copy; 2021
        script(src='https://code.jquery.com/jquery-1.9.1.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')